Playbooks/DeploytheseFirst/IncidentEnrichment-Ip-Geo-Url/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "IncidentEnrichment-Ip-Geo-Url",
            "type": "string"
        }
    },
    "variables": {
        "MicrosoftSentinelConnectionName": "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "VirustotalConnectionName": "[concat('Virustotal-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "properties": {
                "provisioningState": "Succeeded",
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Check_for_IPs": {
                            "actions": {
                                "For_each": {
                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                    "actions": {
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "Create_IP_table": [
                                                    "Succeeded"
                                                ],
                                                "Update_incident": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@body('Update_incident')?['id']",
                                                    "message": "<p>@{body('Create_location_table')}<br>\n@{body('Create_IP_table')}<br>\n</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Compose_IP_table_contents": {
                                            "runAfter": {
                                                "Get_an_IP_report_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "Harmless": "@body('Get_an_IP_report_2')?['data']?['attributes']?['total_votes']?['harmless']",
                                                "IpAddress": "@{items('For_each')?['Address']}",
                                                "Malicious": "@body('Get_an_IP_report_2')?['data']?['attributes']?['total_votes']?['malicious']",
                                                "Reputation": "@body('Get_an_IP_report_2')?['data']?['attributes']?['reputation']"
                                            }
                                        },
                                        "Compose_location_table_content": {
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "Address": "@{body('Parse_JSON')?['query']}",
                                                "City": "@body('Parse_JSON')?['city']",
                                                "Country": "@body('Parse_JSON')?['country']",
                                                "ISP": "@body('Parse_JSON')?['isp']",
                                                "Org": "@body('Parse_JSON')?['org']",
                                                "Region": "@body('Parse_JSON')?['region']"
                                            }
                                        },
                                        "Create_IP_table": {
                                            "runAfter": {
                                                "Compose_IP_table_contents": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@array(outputs('Compose_IP_table_contents'))"
                                            }
                                        },
                                        "Create_location_table": {
                                            "runAfter": {
                                                "Compose_location_table_content": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@array(outputs('Compose_location_table_content'))"
                                            }
                                        },
                                        "Get_an_IP_report_2": {
                                            "runAfter": {
                                                "HTTP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/v3/ip_addresses/connectorV2/@{encodeURIComponent(items('For_each')?['Address'])}"
                                            }
                                        },
                                        "HTTP": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "method": "GET",
                                                "uri": "http://ip-api.com/json/@{items('For_each')?['Address']}"
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "HTTP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('HTTP')",
                                                "schema": {
                                                    "properties": {
                                                        "as": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "countryCode": {
                                                            "type": "string"
                                                        },
                                                        "isp": {
                                                            "type": "string"
                                                        },
                                                        "lat": {
                                                            "type": "number"
                                                        },
                                                        "lon": {
                                                            "type": "number"
                                                        },
                                                        "org": {
                                                            "type": "string"
                                                        },
                                                        "query": {
                                                            "type": "string"
                                                        },
                                                        "region": {
                                                            "type": "string"
                                                        },
                                                        "regionName": {
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "type": "string"
                                                        },
                                                        "timezone": {
                                                            "type": "string"
                                                        },
                                                        "zip": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "Update_incident": {
                                            "runAfter": {
                                                "Create_location_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "tagsToAdd": {
                                                        "TagsToAdd": [
                                                            {
                                                                "Tag": "@body('Parse_JSON')?['city']"
                                                            },
                                                            {
                                                                "Tag": "@body('Parse_JSON')?['regionName']"
                                                            },
                                                            {
                                                                "Tag": "@body('Parse_JSON')?['country']"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_IPs": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(body('Entities_-_Get_IPs')?['IPs'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Check_for_URLs": {
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Entities_-_Get_URLs')?['URLs']",
                                    "actions": {
                                        "Add_comment_to_incident_(V3)_3": {
                                            "runAfter": {
                                                "Create_URL_table": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "message": "<p>@{body('Create_URL_table')}</p>"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Compose_URL_table_contents": {
                                            "runAfter": {
                                                "Get_URL_report": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "HarmlessVotes": "@body('Get_URL_report')?['data']?['attributes']?['total_votes']?['harmless']",
                                                "MaliciousVotes": "@body('Get_URL_report')?['data']?['attributes']?['total_votes']?['malicious']",
                                                "Reputation": "@body('Get_URL_report')?['data']?['attributes']?['reputation']",
                                                "Url": "@items('For_each_2')?['Url']",
                                                "WebpageTitle": "@body('Get_URL_report')?['data']?['attributes']?['title']"
                                            }
                                        },
                                        "Create_URL_table": {
                                            "runAfter": {
                                                "Compose_URL_table_contents": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Table",
                                            "inputs": {
                                                "format": "HTML",
                                                "from": "@array(outputs('Compose_URL_table_contents'))"
                                            }
                                        },
                                        "Get_URL_report": {
                                            "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['virustotal_1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/v3/urls/@{encodeURIComponent(items('For_each_2')?['Url'])}"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Entities_-_Get_URLs": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "greater": [
                                            "@length(body('Entities_-_Get_URLs')?['URLs'])",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Entities_-_Get_IPs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/ip"
                            }
                        },
                        "Entities_-_Get_URLs": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/entities/url"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                            },
                            "virustotal_1": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('VirustotalConnectionName'))]",
                                "connectionName": "[variables('VirustotalConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Virustotal')]"
                            }
                        }
                    }
                }
            },
            "name": "[parameters('PlaybookName')]",
            "type": "Microsoft.Logic/workflows",
            "location": "[resourceGroup().location]",
            "apiVersion": "2017-07-01",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('VirustotalConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('MicrosoftSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('VirustotalConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('VirustotalConnectionName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Virustotal')]"
                }
            }
        }
    ]
}